.env
.git
.gitignore
node_modules/
vendor/
storage/app/public/
storage/debugbar/
storage/framework/cache/data/
storage/framework/sessions/*
storage/logs/*.log
storage/views/*
bootstrap/cache/*.php
*.sql
*.md
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.zip
*.gz
Dockerfile
docker-compose.yml
.dockerignore