.git
.gitignore
.gitattributes
node_modules/
vendor/
storage/app/public/
storage/debugbar/
storage/framework/cache/data/
storage/framework/sessions/*
storage/logs/*.log
storage/views/*
bootstrap/cache/*.php
*.sql
*.md
Dockerfile
docker-compose.yml
.dockerignore